* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.quiz-box {
    background: #2a2a40;
    padding: 3px;
    border-radius: 16px;
    width: 90%;
    max-width: 500px;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#question {
    margin-bottom: 10px;
    color: yellow;
    border: yellow 3px solid;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#next-btn {
    padding: 10px 20px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#timer {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffcc00;
}

#syllabus {
    color: #ffcc00;
    padding: 5px;
    text-align: left;
    font-size: small;
}

.option-btn {
    font-size: 16px;
    padding: 8px;
    background: #38385e;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    text-align: left;
    transition: background 0.3s ease;
}

.option-btn:hover {
    background: #4b4b7e;
}

.option-btn.correct {
    background-color: #3cb371;
}

.option-btn.wrong {
    background-color: #e74c3c;
}

#explanation {
    background-color: #4b4b7e;
    text-align: left;
    font-size: 12px;
}

#explanation-btn {
    padding: 10px 20px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.reloadButton {
    padding: 10px 20px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    
}

#searchType {
    padding: 10px 10px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

#searchValue {
    padding: 10px 10px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

img {
    object-fit: cover;
    width:100%;
}

#explanation-btn.tagged {
    background-color: #3cb371;
}

#explanation-btn.blankExplanation {
    font-style: italic;
}

a {
    background-color: yellow;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

/* #syllabusScore {
    font-family: monospace;
    white-space: pre;
} */

.score-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: sans-serif;
}

.score-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
}

.score-row > div {
    flex: 1;
    min-width: 0;
}

.score-name {
    flex: 4;
    /* font-weight: bold; */
}

.score-value, .score-percentage {
    text-align: right;
    flex: 0.8;
}

.score-header {
  font-weight: bold;
  border-bottom: 2px solid #444;
  padding-top: 20px;
}

#syllabusItems {
    font-size: 12px;
    background-color: black;
    color: white;
}

ul {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}


#version {
    color: green;
    font-style: italic;
    font-size: 12px;
}

.highlightLevel {
    color: yellow;
}

#syllabus-btn {
    padding: 10px 20px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#syllabus-btn:hover {
    background: #0d3594;
}

#explanation-btn:hover {
    background: #0d3594;
}

#next-btn:hover {
    background: #0d3594;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.sequence {
    color:red;
    font-size: smaller;
}

#flashcard-btn {
    padding: 10px 20px;
    border: none;
    background: #4b6cb7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#flashcard-btn:hover {
    background: #0d3594;
}